@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../../fonts/dmsans/rP2tp2ywxg089UriI5-g4vlH9VoD8CmcqZG40F9JadbnoEwAopxRR23z.ttf)
    format("truetype");
}
@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  src: url(../../fonts/dmsans/rP2tp2ywxg089UriI5-g4vlH9VoD8CmcqZG40F9JadbnoEwAkJxRR23z.ttf)
    format("truetype");
}
@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 600;
  src: url(../../fonts/dmsans/rP2tp2ywxg089UriI5-g4vlH9VoD8CmcqZG40F9JadbnoEwAfJtRR23z.ttf)
    format("truetype");
}
@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../../fonts/dmsans/rP2tp2ywxg089UriI5-g4vlH9VoD8CmcqZG40F9JadbnoEwARZtRR23z.ttf)
    format("truetype");
}
@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 800;
  src: url(../../fonts/dmsans/rP2tp2ywxg089UriI5-g4vlH9VoD8CmcqZG40F9JadbnoEwAIptRR23z.ttf)
    format("truetype");
}
@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 900;
  src: url(../../fonts/dmsans/rP2tp2ywxg089UriI5-g4vlH9VoD8CmcqZG40F9JadbnoEwAC5tRR23z.ttf)
    format("truetype");
}
@font-face {
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  src: url(../../fonts/lexenddeca/K2FifZFYk-dHSE0UPPuwQ7CrD94i-NCKm-U48M1wpRnG.ttf)
    format("truetype");
}
@font-face {
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 500;
  src: url(../../fonts/lexenddeca/K2FifZFYk-dHSE0UPPuwQ7CrD94i-NCKm-U4ws1wpRnG.ttf)
    format("truetype");
}
@font-face {
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 600;
  src: url(../../fonts/lexenddeca/K2FifZFYk-dHSE0UPPuwQ7CrD94i-NCKm-U4LspwpRnG.ttf)
    format("truetype");
}
@font-face {
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 700;
  src: url(../../fonts/lexenddeca/K2FifZFYk-dHSE0UPPuwQ7CrD94i-NCKm-U4F8pwpRnG.ttf)
    format("truetype");
}
@font-face {
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 800;
  src: url(../../fonts/lexenddeca/K2FifZFYk-dHSE0UPPuwQ7CrD94i-NCKm-U4cMpwpRnG.ttf)
    format("truetype");
}
@font-face {
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 900;
  src: url(../../fonts/lexenddeca/K2FifZFYk-dHSE0UPPuwQ7CrD94i-NCKm-U4WcpwpRnG.ttf)
    format("truetype");
}
